<h1>Add a new URL</h1>
<%= form_for @url do |form| %>

  <div class="form-group">
    <%= form.label :url, "Paste Your URL here:" %>
    <%= form.text_field :url, :class => "form-control add-new-url", :placeholder => "http://" %>
  </div>

  <% if @url.errors[:url].any? %>
    <p class='error-messages'>
      The given url <%= @url.errors[:url].to_sentence %>.
    </p>
  <% end %>

  <div class="form-group">
    <%= form.submit "Wee this", :class => "btn btn-lg btn-primary" %>
  </div>

<% end %>